<div  class="card" ">
<div class="card-body">
<h1 class="card-title">
  
  <%= @friend.first_name %>
  <%= @friend.last_name %>
</h1>

<p  class="card-text">
<strong>Email : </strong>
  <%= @friend.email %><br />
  <strong>Phone : </strong>
  <%= @friend.phone %><br />
  <strong>Twitter : </strong>
  <%= @friend.twitter %>
</p>
<%= link_to 'Edit', edit_friend_path(@friend) ,class:"btn btn-dark" %> 
<%= link_to 'Destroy', @friend, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%>
<%= link_to 'Back', friends_path , class:"btn btn-dark" %>
</div></div>
